<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetCurrentLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36E44F121E45B3CA004CACE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36E44F291E45B3CB004CACE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36E44F341E45B3CB004CACE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
